[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CircularRegression"]
	path = CircularRegression
	url = https://github.com/aureliennicosiaulaval/circularregression
[submodule "DonutMap"]
	path = DonutMap
	url = https://github.com/aureliennicosiaulaval/donutmap
[submodule "GLBFP"]
	path = GLBFP
	url = https://github.com/aureliennicosiaulaval/glbfp
[submodule "ggcircular"]
	path = ggcircular
	url = https://github.com/aureliennicosiaulaval/ggcircular
[submodule "tutorizeR"]
	path = tutorizeR
	url = https://github.com/aureliennicosiaulaval/tutorizer
