[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DonutMap"]
	path = DonutMap
	url = https://github.com/aureliennicosiaulaval/donutmap
[submodule "ggcircular"]
	path = ggcircular
	url = https://github.com/aureliennicosiaulaval/ggcircular
